<html>
    <head>
        <title>
            Swad Home Page
        </title>
           <!-- the CSS CDN -->
           <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
           <link rel="stylesheet" href="css/landing.css">
           <!-- google fonts -->
           <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
           <link href="https://fonts.googleapis.com/css?family=DM+Serif+Display&display=swap" rel="stylesheet">
           <!-- hover master -->
           <link rel="stylesheet" href="Hover-master\Hover-master\css\hover-min.css">
    
        
        </head>
    <body>
        <!-- the java script CDN -->
        
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

        <!-- font awesome toolkit -->
        <script src="https://kit.fontawesome.com/ac9cda0dd0.js"></script>

        <!-- this is the nav bar -->
        
            
            <nav class="navbar fixed-top navbar-expand-lg navbar-dark ">
                

                    <span style="font-size: 3em; color: rgba(241, 11, 11, 0.74);">
                            <i class="fas fa-pepper-hot">

                            </i>
                    </span>

                    <a class="navbar-brand hvr-bounce-in" href="/"> <h1>&nbsp;SwAd</h1> </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    </button>
                
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                            <li class="nav-item active">
                                <a class="nav-link hvr-grow" href="/">Home <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link hvr-grow" href="/signup">SignUp</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link hvr-grow" href="/LogIn">LogIn</a>
                            </li>
                           
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle hvr-grow" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Choose
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item hvr-grow" href="/north">North Indian</a>
                                    <a class="dropdown-item hvr-grow" href="/south">South Indian</a>
                                    <a class="dropdown-item hvr-grow" href="/chinese">Chinese</a>
                                    <!-- <a class="dropdown-item hvr-grow" href="#">Beverages</a>
                                    <a class="dropdown-item hvr-grow" href="#">Snacks</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item hvr-grow" href="#">Today's Special</a> -->
                                    
                                </div>
                                
                            </li>
                        </ul>
                        <ul class="nav navbar-nav pull-right">
                                
                                    <!-- <li class="nav-item">
                                        <a class="nav-link hvr-grow" href="#">About Us</a>
                                    </li> -->
                                    <li class="nav-item">
                                    
                                        <a class="nav-link hvr-grow" href="/contactus">Contact Us</a>
                                    </li> 
                                    <!-- <li class="nav-item">
                                      <a class="nav-link hvr-grow " style="font-size: 2em; color: rgba(42, 85, 143, 0.74);" href="#"><i class="fas fa-cart-arrow-down"></i></a>
                                  </li> -->
                        </ul>
                    </div>
                
            </nav>
        
        
        
<!-- for the middle content on the first page -->
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div id="content">
                            <h1>WELCOME TO SWAD</h1>
                            <h2>Online Food Service</h2>
                            <hr>
                            <button type="button" class="btn btn-light hvr-ripple-out"><i class="fas fa-fish"></i>&nbsp;Get Started</button>
                           
                        </div>
                    </div>
                </div>
            </div>
        
            <!-- this is the boxes(bottom) of the main page -->
            <section class="container-boxes">
                <div class="box">
            
                  <div class="icon">
                    <a href=""><i class="fas fa-fish"></i></a>
                  </div>
            
                  <div class="text">
                    <a href="/north">
                      <h3>North Indian</h3>
                      <p>Some of the most spicy and delicious food of the North India.</p>
                    </a>
                  </div>
            
                </div>
            
                <div class="box">
            
                  <div class="icon">
                    <a href=""><i class="fas fa-cookie"></i></a>
                  </div>
            
                  <div class="text">
                    <a href="/south">
                      <h3>South Indian</h3>
                      <p>From plain dosa to Biryanis everything is here. </p>
                    </a>
                  </div>
            
                </div>
            
                <div class="box">
            
                  <div class="icon">
                    <a href=""><i class="fas fa-hamburger"></i></a>
                  </div>
            
                  <div class="text">
                    <a href="/chinese">
                      <h3>The Junck Treat</h3>
                      <p>Treat yourself with the amazing pizzas and noodles.</p>
                    </a>
                  </div>
            
                </div>
            </section>
    </body>
</html>